		.navbar-wrapper {
			position: absolute;
			margin-top: 20px;
			top: 0;
			right: 0;
			left: 0;
			z-index: 20
		}
		
		.carousel-inner {
			max-height: 600px;
			width: auto
		}
		
		.carousel-caption {
			padding: 0;
			top: 40%;
			bottom: 0
		}
		
		.featurette {
			padding-top: 50px;
			padding-bottom: 50px
		}
		
		.featurette-heading {
			padding-bottom: 20px
		}
		
		.img-circle {
			margin: 30px auto 0;
			line-height: 300px;
			color: #fff;
			font-size: 30px;
			max-width: 300px;
			width: 100%;
			height: 100%;
			background-color: #337ab7
		}
		
		.text-middle {
			position: relative;
			top: 50%
		}
		
		.carousel img {
			max-width: 100%
		}
		
		.carousel .item img {
			top: 0;
			left: 0;
			min-width: 100%
		}
		
		.featurette .thumbnail img {
			min-width: 100%;
			max-width: 100%;
			height: auto;
		}
		
		#gmap_canvas img {
			max-width: none!important;
			background: none!important
		}